#play-area {
    .ResourceCube {
         &.selectable {
            z-index: 10;
            > div {      
                border: 3px solid magenta;                
            }
        }
        &.selected {
            z-index: 20;
            > div {      
                border: 3px solid cyan;  
            }
        }  
    }

    .UpgradeCard {
         &.selectable {
            z-index: 10;
            > div {      
                border: 3px solid magenta;                
            }
        }
        &.selected {
            z-index: 20;
            > div {      
                border: 3px solid cyan;  
            }
        }  
    }

    .ScoreSpace {
        // border-style: solid;
    };
    .PlayersSpace {
        z-index: 15;
    }
    .PlayerSpace {
        // z-index: 20;

        top: 0%; left: 0%; width: 100%; height: 100%;

        transition: 0.6s;
        background-repeat: no-repeat;
        background-position: center 50%;
            
        border-radius: 0.2em;
        border-color: black;
        background-size: contain;
    }
    .PlayerBoard {
        z-index: 1;
        background-image: url(./assets/playersBoard.jpg);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }

    .cooling {
        z-index: 1;
        background-image: url(./assets/cooling.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .exhaust {
        z-index: 1;
        background-image: url(./assets/exhaust.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .heater {
        z-index: 1;
        background-image: url(./assets/heater.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .injection {
        z-index: 1;
        background-image: url(./assets/injection.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .nozzle {
        z-index: 1;
        background-image: url(./assets/nozzle.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .pump {
        z-index: 1;
        background-image: url(./assets/pump.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .trap {
        z-index: 1;
        background-image: url(./assets/trap.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .TrashFunding {
        z-index: 1;
        background-image: url(./assets/trash-funding.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .Instant {
        z-index: 1;
        background-image: url(./assets/Instant.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .Permanent {
        z-index: 1;
        background-image: url(./assets/Permanent.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .Ongoing {
        z-index: 1;
        background-image: url(./assets/Ongoing.png);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .MainBoard {
        z-index: 1;
        background-image: url(./assets/bb-board.jpg);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .CubePlate {
        // border-style: solid;
    }
    .FundingSpace {
        // border-style: solid;
        //  display: block;
        // background-image: url(./assets/bb-board.jpg);
        // background-size: 100%;
    }
    .FundingCard {
        // display: block;
    }
    .UpgradeSpace {
        // border-style: solid;
    }

      .tabs-tab {
    // background: var(--player-color);
    // opacity: 25%;
    filter: brightness(0.5);
    &.active {
      // opacity: 100%;
      filter: brightness(1.0);
    }
    &:hover {
      opacity: 100%;
      filter: brightness(1.5);
    }
  }

  .playerTab {
    position: absolute;
    top: 0;
    left: 40%;
  }

  .drawer {
    z-index: 2000;
  }
  .drawer-tab {
    z-index: 2000;
    // background-color: var(--player-color);
  }
  .drawer-content {
    z-index: 2100;
  }

  
}

.player-controls {
    z-index: 3000;
  font-size: .4em;
  // position: absolute;
  // // top: 50%; 
  // right: 50%;
  // transform: translate(50%,0%);
  // background-color: rgb(0,0,0,0);

      button {
        // width: 100%;
      background: #448;
      color: #fffcdc;
      html.dark & {
        background: #114;
        color: #cc9;
      }
      box-shadow: inset -0.2em -0.2em 0.5em -0.2em #000c, inset 0.2em 0.2em 0.5em -0.2em #fffc;
      &.cancel {
        background: #666;
      }
    }
}