#play-area {
    .Cardboard {
         &.selectable {
            > div {      
                border: 3px solid red;
            }
        }
        &.selected {
            z-index: 100;
            > div {      
                border: 3px solid black;
            }
        }       
    }
    .Plastic {
        &.selectable {
            > div {      
                border: 3px solid red;
            }
        }
        &.selected {
            > div {      
                border: 3px solid black;
            }
        } 
    }
    .Glass {
        &.selectable {
            > div {      
                border: 3px solid red;
            }
        }
        &.selected {
            > div {      
                border: 3px solid black;
            }
        } 
    }
}

.player-controls {
  font-size: .4em;
  // position: absolute;
  // // top: 50%; 
  // right: 50%;
  // transform: translate(50%,0%);
  // background-color: rgb(0,0,0,0);

      button {
        // width: 100%;
      background: #448;
      color: #fffcdc;
      html.dark & {
        background: #114;
        color: #cc9;
      }
      box-shadow: inset -0.2em -0.2em 0.5em -0.2em #000c, inset 0.2em 0.2em 0.5em -0.2em #fffc;
      &.cancel {
        background: #666;
      }
    }
}
