#play-area {
    .Cardboard {        
         &.selectable {
            z-index: 10;
            > div {      
                border: 3px solid black;                
            }
        }
        &.selected {
            > div {      
                background-color: red;
            }
        }       
    }
    .Plastic {      
        z-index: 1 ;  
        &.selectable {
            z-index: 10;
            > div {      
                border: 3px solid black;
            }
        }
        &.selected {            
            > div {      
                background-color: red;
            }
        } 
    }
    .Glass {        
        &.selectable {
            z-index: 10;
            > div {      
                border: 3px solid black;
            }
        }
        &.selected {
            > div {      
                background-color: red;
            }
        } 
    }
    .Metal {        
        &.selectable {
            z-index: 10;
            > div {      
                border: 3px solid black;
            }
        }
        &.selected {
            > div {      
                background-color: red;
            }
        } 
    }
    .TurnReference {
        z-index: 1;
        background-image: url(./assets/ref.jpg);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .ScoreReference {
        z-index: 1;
        background-image: url(./assets/scoring.jpg);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .SoloTurnReference {
        z-index: 1;
        background-image: url(./assets/soloturn.jpg);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
    .SoloScoreReference {
        z-index: 1;
        background-image: url(./assets/soloscore.jpg);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: contain;
    }
}

.player-controls {
    z-index: 3000;
  font-size: .4em;
  // position: absolute;
  // // top: 50%; 
  // right: 50%;
  // transform: translate(50%,0%);
  // background-color: rgb(0,0,0,0);

      button {
        // width: 100%;
      background: #448;
      color: #fffcdc;
      html.dark & {
        background: #114;
        color: #cc9;
      }
      box-shadow: inset -0.2em -0.2em 0.5em -0.2em #000c, inset 0.2em 0.2em 0.5em -0.2em #fffc;
      &.cancel {
        background: #666;
      }
    }
}

  .playerTab {
    position: absolute;
    top: 0;
    left: 40%;
  }
  
  .drawer {
    z-index: 2000;
  }
  .drawer-tab {
    z-index: 2000;
  }
  .drawer-content {
    z-index: 2100;
  }
