#play-area {


    .Die {
        z-index: 5;
        top: 75%; left: 70%; width: 30%; height: 25%;
    }

    .Bot10 {
        z-index: 1;

        &[data-phase1="vehicle"] .vehicle { background-image: url(./assets/vehicle.jpg) }
        &[data-phase1="move-left"] .movement { background-image: url(./assets/move-red-green.jpg) }
        &[data-phase1="attack"] .movement { background-image: url(./assets/move-black.jpg) }
        &[data-phase1="move-right"] .movement { background-image: url(./assets/move-yellow-blue.jpg) }

        > div {
            transition: 0.6s;
            background-repeat: no-repeat;
            background-position: center 50%;
      
            .vehicle {
              top: 0%; left: 0%; width: 100%; height: 100%;
              
              border-radius: 0.2em;
              border-color: black;
              background-size: contain;
            }

            .movement {
                top: 0%; left: 0%; width: 100%; height: 100%;
                
                border-radius: 0.2em;
                border-color: black;
                background-size: contain;
              }
          }
    }

    .Starborg {
        z-index: 1;

        &[data-color="green"] .handler { background-image: url(./assets/handler-green.jpg) }
        &[data-color="red"] .handler { background-image: url(./assets/handler-red.jpg) }
        &[data-color="blue"] .handler { background-image: url(./assets/handler-blue.jpg) }
        &[data-color="yellow"] .handler { background-image: url(./assets/handler-yellow.jpg) }
        &[data-color="black"] .handler { background-image: url(./assets/handler-black.jpg) }

        &:hover {
            z-index: 1000;
            transform: scale(1.5) translate(0%, -25%);
          }

        > div {
            transition: 0.6s;
            background-repeat: no-repeat;
            background-position: center 50%;
      
            .handler {
              top: 0%; left: 0%; width: 100%; height: 100%;
              
              border-radius: 0.2em;
              border-color: black;
              background-size: contain;
            }
          }
    }


}


