#play-area {

    // .Die {
    //     z-index: 5;
    //     top: 55%; left: 38%; width: 20%; height: 20%;
    //     color: black;
    // }

    .HandlerSpace {
      &.selectable {
        z-index: 2;
        // filter: brightness(1.5);
        > div {      
          border: 5px solid black;
          background-color: white;
          width: 100%;
          height: 100%;
        }
      }
    }

    .D6 {
        z-index: 5;
        transform: scale(0.20) translate(0%, 40%);

        &.selected {
          filter: brightness(0.5);
        }

        &.selectable {
          border: solid;
          border-color: black;
          border-width: 20px;
        }
    }

    .RefSpace {
      z-index:100;
      padding-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: white;
      display: block;
      font-size: 12px;
      white-space: wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
    
    .Bot10 {
        z-index: 1;

        &[data-phase1="vehicle"] .vehicle { background-image: url(./assets/vehicle.jpg) }
        &[data-phase1="move-left"] .movement { background-image: url(./assets/move-red-green.jpg) }
        &[data-phase1="attack"] .movement { background-image: url(./assets/move-black.jpg) }
        &[data-phase1="move-right"] .movement { background-image: url(./assets/move-yellow-blue.jpg) }

        &[data-phase2="nw"] .bot10 { background-image: url(./assets/bot10-nw.jpg) }
        &[data-phase2="ne"] .bot10 { background-image: url(./assets/bot10-ne.jpg) }
        &[data-phase2="sw"] .bot10 { background-image: url(./assets/bot10-sw.jpg) }
        &[data-phase2="se"] .bot10 { background-image: url(./assets/bot10-se.jpg) }

        > div {
            transition: 0.6s;
            background-repeat: no-repeat;
            background-position: center 50%;
      
            .vehicle {
              top: 0%; left: 0%; width: 100%; height: 100%;
              
              border-radius: 0.2em;
              border-color: black;
              background-size: contain;
            }

            .movement {
              top: 0%; left: 0%; width: 100%; height: 100%;
                
              border-radius: 0.2em;
              border-color: black;
              background-size: contain;
            }

            .bot10 {
              top: 0%; left: 0%; width: 100%; height: 100%;
                
              border-radius: 0.2em;
              border-color: black;
              background-size: contain;
            }
          }
    }

    .Starborg {
        z-index: 1;

        &.selectable {
          z-index: 2;
          > div {      
            border: 5px solid black;
          }
        }
        &.selected {
          z-index: 2;
          filter: brightness(0.5);
        }

        &[data-color="green"] .handler { background-image: url(./assets/handler-green.jpg) }
        &[data-color="red"] .handler { background-image: url(./assets/handler-red.jpg) }
        &[data-color="blue"] .handler { background-image: url(./assets/handler-blue.jpg) }
        &[data-color="yellow"] .handler { background-image: url(./assets/handler-yellow.jpg) }
        &[data-color="black"] .handler { background-image: url(./assets/handler-black.jpg) }

        &[data-color="green"] .starborg { background-image: url(./assets/starborg-left-arm.jpg) }
        &[data-color="red"] .starborg { background-image: url(./assets/starborg-right-arm.jpg) }
        &[data-color="blue"] .starborg { background-image: url(./assets/starborg-right-leg.jpg) }
        &[data-color="yellow"] .starborg { background-image: url(./assets/starborg-left-leg.jpg) }
        &[data-color="black"] .starborg { background-image: url(./assets/starborg-head.jpg) }

        

        > div {
            transition: 0.6s;
            background-repeat: no-repeat;
            background-position: center 50%;
      
            .handler {
              top: 0%; left: 0%; width: 100%; height: 100%;
              
              border-radius: 0.2em;
              border-color: black;
              background-size: contain;

              &:hover {
                z-index: 1000;
                transform: scale(1.5) translate(0%, -25%);
              }
            }

            .starborg {
                top: 0%; left: 0%; width: 100%; height: 100%;
                
                border-radius: 0.2em;
                border-color: black;
                background-size: contain;
              }
          }
    }


}


