#play-area {

      .TrustCard {
        &.selectable {
            z-index: 10;
            > div {      
                border: 3px solid magenta;                
            }
        }
        &.selected {
            z-index: 20;
            > div {      
                border: 3px solid cyan;  
            }
        }  
    }

    .RejectionCard {
        &.selectable {
            z-index: 10;
            > div {      
                border: 3px solid magenta;                
            }
        }
        &.selected {
            z-index: 20;
            > div {      
                border: 3px solid cyan;  
            }
        }  
    }

    .BuildingCard {
        &.selectable {
            z-index: 10;
            > div {      
                border: 3px solid magenta;                
            }
        }
        &.selected {
            z-index: 20;
            > div {      
                border: 3px solid cyan;  
            }
        }  
    }

    .HumanToken {
        &.selectable {
            z-index: 10;
            > div {      
                border: 3px solid magenta;                
            }
        }
        &.selected {
            z-index: 20;
            > div {      
                border: 3px solid cyan;  
            }
        }  
    }

    .EventCover {
      opacity: 100%;
      &:hover {
        opacity: 0%;
      }
    }

  .tabs-tab {
    // background: var(--player-color);
    // opacity: 25%;
    filter: brightness(0.5);
    &.active {
      // opacity: 100%;
      filter: brightness(1.0);
    }
    &:hover {
      opacity: 100%;
      filter: brightness(1.5);
    }
  }

  .playerTab {
    position: absolute;
    top: 0;
    left: 40%;
  }

  .drawer {
    z-index: 2000;
  }
  .drawer-tab {
    z-index: 2200;
    // background-color: var(--player-color);
  }
  .drawer-content {
    z-index: 2100;
  }

  svg {
  // border: 1px solid black;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}


  .EarthPlayerSpace {
      z-index: 2500;
  }
}

.player-controls {
    z-index: 3000;
  font-size: .4em;
  // position: absolute;
  // // top: 50%; 
  // right: 50%;
  // transform: translate(50%,0%);
  // background-color: rgb(0,0,0,0);

      button {
        // width: 100%;
      background: #448;
      color: #fffcdc;
      html.dark & {
        background: #114;
        color: #cc9;
      }
      box-shadow: inset -0.2em -0.2em 0.5em -0.2em #000c, inset 0.2em 0.2em 0.5em -0.2em #fffc;
      &.cancel {
        background: #666;
      }
    }
}
